<h1>Afficher un Pokémon</h1>

<p>Numéro : #<%= sprintf '%03d', @pokemon.number %></p>
<p>Nom : <%= @pokemon.name %></p>
<p>Niveau : <%= @pokemon.level %></p>
<p>Point de vie : <%= @pokemon.health_points %></p>

<p>
	Type:
	<% type = @pokemon.type %>
	<% if type.nil? %>
	aucun
	<% else %>
	<%= type ? type_badge(type) : '&empty;'.html_safe %>
	<% end %>
</p>

<p>
  <strong>Attaques:</strong>
  <%= render partial: 'moves_list', locals: {moves: @pokemon.moves} %>
</p>

<!--
Syntaxe alternatif :

<% @pokemon.moves.each do |move| %>
<%= move.name %>
<% end %>
-->

<p>
	<%= link_to 'Liste des Pokemons', pokemons_path, class: 'btn btn-primary' %>
	<%= link_to 'Modifier le Pokemon', edit_pokemon_path, class: 'btn btn-primary' %>
</p>